<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Monster Slayer</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>
<body>
<div id="app">
  	<div class="healthDiv">
  		<!-- play health -->
  		<div class="player">
  			<h2>Player</h2>
  			<div class="healthbar-bg">
  				<!-- :style to bind playerHealth to the css -->
  				<div class="healthbar" :style="{width: playerHealth + '%'}">
  					{{ playerHealth}}
  				</div>
  			</div>
  		</div>
		<!-- monster health -->
		<div class="monster">
			<h2>Monster</h2>
			<div class="healthbar-bg">
				<div class="healthbar" :style="{width: monsterHealth + '%'}">
					{{ monsterHealth }}
				</div>
			</div>
		</div>
  	</div>

  	<!-- Control section -->
	<!-- non-game mode -->
	<div class="controls" v-if="!gameIsRunning">
		
			<button id="start-newgame" @click="startGame">Start new game</button>
		
	</div>

	<!-- game mode -->
	<div class="controls" v-if="gameIsRunning">
		<div>
			<button id="attack" @click="attack">Attack</button>
			<button id="special-attack" @click="specialAttack">Special Attack</button>
			<button id="heal" @click="heal">Heal</button>
			<button id="give-up" @click="giveUp">Give up</button>	

		</div>
	</div>

	<!-- Log section -->
	<!-- v-fi="turns.length > 0" -->
	<div class="log" >
		<div>
			<ul>
				<li v-for="turn in turns" :class="{'player-turn':turn.isPlayer, 'monster-turn':!turn.isPlayer}">{{ turn.text }}</li>
			</ul>
		</div>
	</div>
</div>


<!-- JavaScript -->
  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>